body {
    background: #F9F9F9;
    font-family: 'Noto Sans', serif;
}

.brand, .sans {
    font-family: 'Domine', serif;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

ul {
    list-style-type: square;
}

.white {
    color: #FFF;
}

hr.white {
    border-color: #FFF;
}

.popover {
    width: auto;
}

input.ng-invalid.ng-dirty {
    background-color: #FDCCCC;
}

input.ng-valid.ng-dirty {
    background-color: #E8FFE8;
}
.bookmark{
    width:220px;
    border:1px solid #DDD;
    border-radius: 3px;
    min-height: 240px;
    margin:5px;
    padding:5px;
    padding-bottom: 3px;
    margin-top:10px;
    display:inline-block;
}

.bookmark-image-wrapper{
    width: 100%;
    height: 150px;
    display:inline-block;
    overflow-y: hidden;
}
.bookmark-image {
    width: 100%;
    background: #EEE;
}

.modal-body {
    max-height: none;
}

/* ne pas montrer les élements avant que l'app soit chargée */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

/* tagsinput */
div.tagsinput span.tag {
    color: rgb(10, 77, 139);
    border: 1px solid rgb(15, 122, 136);
    background: rgb(198, 208, 247);
}

div.tagsinput span.tag a {
    color: rgb(10, 77, 139);
}

/** 
**/
.not-found {
    color: #EEE;
}

main {
    min-height: 600px;
}
footer{
    min-height: 160px;
}

.link{
    cursor:pointer;
}
.ellipsis{
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.inline{
    display:inline-block;
}