{% extends 'layout.twig' %}
{% block head_css %}

{% endblock %}
{% block content %}
    {% raw %}
        <nav class="navbar navbar-default" data-ng-controller="NavigationCtrl" ng-include="'/static/js/app/partials/topnav.html'"></nav>
        <main class='container' data-ng-controller="MainCtrl">
            <section  ng-include="'/static/js/app/partials/alert.html'"></section>    
            <section class='row main' ng-view>
            </section>
        </main>
    {% endraw %}
    <footer class="container">
        <span>Copyright &copy; M.Paraiso 2014. <a href="mailto:mparaiso@online.fr">mparaiso@online.fr</a> All rights reserved.</span>
        <span>Screenshots <a href="http://www.robothumb.com">by Robothumb</a></span>
    </footer>
{% endblock %}
{% block bottom_scripts %}
            {{parent()}}

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-masonry/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery.autocomplete/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery-tagsinput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/static/js/app/modules/ApplicationDirectives.js"></script>
    <script type="text/javascript" src="/static/js/app/modules/ApplicationFilters.js"></script>
    <script type="text/javascript" src="/static/js/app/modules/ApplicationServices.js"></script>
    <script type="text/javascript" src="/static/js/app/modules/Application.js"></script>

    <link rel="stylesheet" href="/static/vendor/jquery-tagsinput/jquery.tagsinput.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/jquery-autocomplete/jquery.autocomplete.css"/>
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}