{% extends 'layout.twig' %}
{% block head_css %}
    {{parent()}}
{% endblock %}
{% block content %}
    {% raw %}
        <nav class="navbar navbar-default" data-ng-controller="NavigationCtrl" ng-include="'/markme/partials/topnav.html'"></nav>
        <main class='container' data-ng-controller="MainCtrl">
            <section  ng-include="'/markme/partials/alert.html'"></section>    
            <section class='main' ng-view>
            </section>
        </main>
    {% endraw %}
    <footer class="container" ng-include="'/markme/partials/footer.html'"></footer>
    {% endblock %}
    {% block bottom_scripts %}
        {{parent()}}
    <link rel="stylesheet" href="/vendor/jquery-tagsinput/jquery.tagsinput.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/jquery-autocomplete/jquery.autocomplete.css"/>
    <link rel="stylesheet" href="/markme/css/style.css">

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/es5-shim/es5-shim.min.js"></script>
    <script type="text/javascript" src="/bower_components/es5-shim/es5-sham.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-masonry/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery.autocomplete/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-tagsinput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/markme/js/ApplicationDirectives.js"></script>
    <script type="text/javascript" src="/markme/js/ApplicationFilters.js"></script>
    <script type="text/javascript" src="/markme/js/ApplicationServices.js"></script>
    <script type="text/javascript" src="/markme/js/Application.js"></script>


{% endblock %}