{% extends 'layout.twig' %}
{% block head_css %}
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/markme/css/style.css">
{% endblock %}
{% block content %}
    <!--navbar -->
    {% include 'include/navbar.twig' %}
    <!-- header -->
    <div class="container">
        <!-- homepage.hmtl -->
        <main class='row'>
            <div class="jumbotron col-md-8">
                <h2 class='sans'>
                    Online bookmark manager.
                </h2>
                <ul>
                    <li>Bookmark sites fast</li>
                    <li>Add description and tags</li>
                    <li>Import and Export your bookmarks from and to popular browsers</li>
                    <li>Search and filter through your bookmarks</li>
                    <li>Access your bookmarks anywhere!</li>
                </ul>
                <form {{ form_enctype(form) }} action="{{ app.url_generator.generate('index') }}" method="POST"
                                               class='form'>
                    <fieldset>
                        <legend>Register, it's fast and free !</legend>
                        {%include 'include/form.twig'%}
                        <div class="form-group">
                            <input class="btn btn-default" type="reset" />
                            <input class='btn btn-success'
                                   type="submit">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4">
                <img class='thumbnail pull-right' src='/markme/img/abime.jpg' 
                     alt="">
            </div>
        </main>
        <footer class="row">
            {% include 'include/footer.twig' %}
        </footer>
    </div>
{% endblock %}
{% block bottom_scripts %}
    {{parent()}}
{% endblock %}