.brand,.sans{
    font-family: Georgia,Times,serif;
    font-weight: bold;
}
.italic{
    font-style: italic;
}

ul{
    list-style-type: square;
}

.white{
    color:#FFF;
}

hr.white{
    border-color: #FFF;
}
.popover {
    width: auto;
}

input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.bookmark.thumbnail{
    width:210px;
}

.bookmark-image{
    width:200px;
    height:150px;
    background: #EEE;
    margin-left:5px;
    margin-right: 5px;
}
.modal-body{
    max-height: none;
}