<div class="span6">
    <h4>Account</h4>
    <form name="account_form">
        <label for="user_email">Email :</label>
        <input type="text" name="email" data-ng-model='user_config.email' id="user_email" required>
        <label for="user_username">Username :</label>
        <input type="text" name="username" data-ng-model="user_config.username" id="user_username" required>
        <label for="save"></label>
        <input class="btn btn-success" type="button" value="Save" name="save" data-ng-disabled="account_form.$invalid">
        <input class="btn " type="reset" value="Reset">
    </form>
    <hr>
    <h4>Change password</h4>
    <form action="password_form">
        <label for="user_old_password">Old Password : </label>
        <input type="password" name="username" data-ng-model="user_config.old_password" required id="user_old_password">
        <label for="user_new_password">New Password : </label>
        <input type="password" name="username" data-ng-model="user_config.password" required id="user_new_password">
        <label for="user_new_verify_password">New Password verify: </label>
        <input type="password" name="username" data-ng-model="user_config.verify_password" id="user_new_verify_password" required data-password-verify="user_config.password">
        <label for="save"></label>
        <input class="btn btn-success" type="button" name="save" value="Save" data-ng-disabled="password_form.$invalid">
        <input class="btn " type="reset" value="Reset">
    </form>
</div>
<div class="span6">
    <h4>Import bookmarks</h4>
    <p>Import bookmarks from a html file</p>
    <form name="import_form" enctype="multipart/form-data"  method="POST" action="{{baseUrl}}/json/bookmark/import">
        <label for="imported_file">Maximum html file size : {{maxSizeUpload}} .</label>
        <input accept="text/html" type="file" name="imported_file" id="imported_file">
        <label for="save"></label>
        <input class="btn btn-success" type="submit" name="save" value="Import file" data-ng-disabled="import_form.$invalid">
        <input class="btn " type="reset" value="Reset">
    </form>
    <h4>Export bookmarks</h4>
    <p>Save bookmarks as html file</p>
    <form action="{{baseUrl}}/json/bookmark/export" method="POST">
        <input type="submit" value="Export bookmarks" class='btn btn-info'>
    </form>
</div>