<!-- 
bookmarks.html
EN : display a list of bookmarks
FR : affiche la liste des marques pages
-->
<section ng-if="Bookmarks.bookmarks.length > 0"
         data-masonry="Bookmarks.bookmarks"  
         data-gutter="30px" data-column-width='200px' 
         data-item-selector="div.bookmark">
    <div class='bookmark' data-ng-repeat="bookmark in Bookmarks.bookmarks">
        <div class="pull-right">
            <i  data-ng-click="edit(bookmark)" class="glyphicon glyphicon-pencil link"></i>
            <i data-ng-click="remove(bookmark)" class="glyphicon glyphicon-remove link"></i>
        </div>
        <div>
            <a href='{{bookmark.url}}' title='{{bookmark.url}}' class="bookmark-image-wrapper" target="_blank">
                <img class='bookmark-image'  data-ng-src="/static/img/placeholder.gif" 
                     title="{{bookmark.description}}" data-bst-tooltip data-placement="bottom"
                     alt="{{bookmark.url}}" src=""   data-preload-image="getThumbnail(bookmark.url)" /></a> 
            <h4 class="ellipsis" >
                <a href="{{bookmark.url}}" target='_blank' >{{ bookmark.title|capitalize  }}</a>
            </h4>
            <div ng-if="bookmark.tags.length > 0">
                <span data-ng-repeat="tag in bookmark.tags">
                    <a class="label label-info link"  href="#/bookmark/tag/{{tag.name}}" >{{tag}}</a>
                    &nbsp;
                </span>
            </div>
        </div>
    </div>
</section>
<div data-ng-if="Bookmarks.bookmarks.length === 0">
    <h1 class="muted centered span8 offset2 italic not-found">No Bookmark found , please add a new one , or import bookmarks with the account menu</h1>
</div> 
<section class="text-center">
    <hr />
    <button 
        data-ng-show="Bookmarks.bookmarks.length > 0 && (lastBookmarkBatch.length % limit) === 0" 
        class="btn btn-primary btn-lg" 
        data-ng-disabled="fetchingBookmarks" 
        data-ng-click="nextBookmarkPage()">Load more bookmarks.
    </button>
</section>
<h1>&nbsp;</h1>
