<!-- 
bookmarks.html
EN : display a list of bookmarks
FR : affiche la liste des marques pages
-->
<span ></span>
<section 
         data-masonry="Bookmarks.bookmarks"  
         data-gutter="30" data-column-width='200' 
         data-item-selector="div.bookmark">
    <div class=' thumbnail bookmark' data-ng-repeat="bookmark in Bookmarks.bookmarks">
        <div>
            <a href='{{bookmark.url}}' title='{{bookmark.url}}' target="_blank">
                <img class='bookmark-image'  data-ng-src="/static/img/placeholder.gif" 
                     title="{{bookmark.description}}" data-bst-tooltip data-placement="bottom"
                     alt="{{bookmark.url}}" src=""   data-preload-image="getThumbnail(bookmark.url)" /></a> 
            <h4 class="ellipsis" >
                <a href="{{bookmark.url}}" target='_blank' >{{ bookmark.title|capitalize  }}</a>
            </h4>
            <div>
                <button  class="btn btn-default btn-xs" data-ng-click="edit(bookmark)">Edit </button>
                &nbsp;
                <button  class="btn btn-default btn-xs" data-ng-click="remove(bookmark)">Delete</button>
            </div>
            <div>
                <a class="btn btn-mini"  href="#/bookmark/tag/{{tag.name}}" data-ng-repeat="tag in bookmark.tag">{{tag.name}}</a>
            </div>
        </div>
    </div>
</section>
<div data-ng-if="Bookmarks.bookmarks.length === 0">
    <h1 class="muted centered span8 offset2 italic not-found">No Bookmark found , please add a new one , or import bookmarks with the account menu</h1>
</div> 
<section class="text-center">
    <hr />
    <button 
        data-ng-show="Bookmarks.bookmarks.length > 0 && (lastBookmarkBatch.length % limit) === 0" 
        class="btn btn-primary btn-lg" 
        data-ng-disabled="fetchingBookmarks" 
        data-ng-click="nextBookmarkPage()">Load more bookmarks.
    </button>
</section>
<span data-ng-include="baseUrl + '/static/js/app/partials/modal.html'"></span>
<h1>&nbsp;</h1>
