<!-- homepage.hmtl -->
<div class='col-md-8 jumbotron'>
    <h2 class='sans'>
        Online bookmark manager.
    </h2>
    <hr class='white'>
    <ul >
        <li>Bookmark sites fast</li>
        <li>Add description and tags</li>
        <li>Import and Export your bookmarks from and to popular browsers</li>
        <li>Search and filter through your bookmarks</li>
        <li>Access your bookmarks anywhere!</li>
    </ul>
    <span data-ng-include="'/static/js/app/partials/register.html'"></span>
</div>
<div class="col-md-4">
    <img class='thumbnail pull-right' data-ng-src='/static/img/abime.jpg' src="http://placehold.it/320x240" alt="">
</div>