<div class='container'>
    <ul class='navbar-nav navbar-right nav'>
        <li data-ng-show="user.username"><a class='sans disabled disable'>Welcome {{user.username}}</a></li>
        <li><a href="#/bookmark">Bookmarks</a></li>
        <li><a href="#/tag">Tags</a></li>
        <li><a href="javascript:void 0;" ng-click="addBookmark()" data-open-modal="#bookmark-edit">Add a
                Bookmark</a></li>
        <li><a href="#/account">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <form class="navbar-form navbar-right">
        <div class="input-group">
            <input type="text" data-ng-model="search" placeholder="search a word" class="form-control">

            <div class="input-group-btn">
                <button type="submit" ng-click="find(search)" class="btn btn-default muted"><i
                        class="glyphicon glyphicon-search"></i>
                </button>
            </div>

        </div>
    </form>
    <div class="navbar-header">
        <a class='navbar-brand brand' href='/'>Mark.me</a>
        <div
            data-ng-include="'/static/js/app/partials/modal.html'" >
        </div>
    </div>
</div>