<span ng-controller="NavigationController">
    <ul class='nav pull-right' >
        <li data-ng-show="user.username"><a class='sans disabled disable'>Welcome {{user.username}}</a></li>
        <li ><a href="#bookmark"  >Bookmarks</a></li>
        <li ><a href="#tag" >Tags</a></li>
        <li ><a ng-click="addBookmark()" data-open-modal="#{{modal_id}}">Add a Bookmark</a></li>
        <li ><a href="javascript: void 0;">Account</a></li>
        <li><a data-ng-click="logout()">Logout</a></li>
    </ul>
    <span data-ng-include="'/static/js/app/partials/modal.html'"></span>
</span>
