<!-- header -->
<div class='container'>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="navbar ">
            <div class='navbar-inner'>
                <ul class='nav pull-right'>
                    <li ><a href="#">Login</a></li>
                </ul>
                <a class='brand' href='#'>{{title}}</a>
            </div>
            <hr class='white'>
        </div>
    </div>
    <!-- header -->
    <!-- body -->
    <div class="row ">
        <div class='span8 jumbotron'>
            <h1>
                Online bookmark manager!
            </h1>
            <hr class='white'>
            <ul >
                <li>Bookmark sites fast</li>
                <li>Add description and tags</li>
                <li>Search and filter through you bookmarks</li>
                <li>Access your bookmarks anywhere!</li>
            </ul>
            <form action="javascript: void 0;" class='form'>
                    <p class='lead'>Register, it's fast and free !</p>
                    <input type="text" name='username' placeholder='username'>
                <input type="email" name='email' placeholder='email'>
                <input type="password" name='password' placeholder='password'>
                <label for="submit"><input name='submit' class='btn btn-success' type="submit" value="Register"></label>
                </fieldset>
        </div>
        <div class="span4">
            <img class='thumbnail pull-right' src="http://placehold.it/320x240" alt="">
        </div>
    </div>
    <hr class="white">
    <hr class="white">
    <hr class="white">
    <!-- body -->
    <!-- footer -->
    <div class="row">
        <span>Copyright &copy; M.Paraiso {{year}}. All rights reserved</span>
        <span class='pull-right'>
            <a href="#">Created By M.Paraiso</a>
        </span>
    </div>
    <!-- footer -->
</div>