<div class='span8 jumbotron'>
    <h2 class='sans'>
        Online bookmark manager.
    </h2>
    <hr class='white'>
    <ul >
        <li>Bookmark sites fast</li>
        <li>Add description and tags</li>
        <li>Search and filter through you bookmarks</li>
        <li>Access your bookmarks anywhere!</li>
    </ul>
    <span data-ng-include="baseUrl+'/static/js/app/partials/register.html'"></span>
</div>
<div class="span4">
    <img class='thumbnail pull-right' src="http://placehold.it/320x240" alt="">
</div>