<div class="col-md-6">
    <form name="account_form" class="form-horizontal">
        <fieldset disabled>
            <legend>Account</legend>
            <div class="form-group">
                <label for="user_email" class="control-label col-sm-3">Email :</label>

                <div class="col-sm-9">
                    <input type="text" name="email" data-ng-model='user_config.email' id="user_email"
                           class="form-control"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label for="user_username" class="control-label col-sm-3">Username :</label>

                <div class="col-sm-9">
                    <input type="text" name="username" class="form-control" data-ng-model="user_config.username"
                           id="user_username" required>
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input class="btn btn-success" type="button" value="Save" name="save"
                           data-ng-disabled="account_form.$invalid">
                    <input class="btn " type="reset" value="Reset">
                </div>
            </div>
        </fieldset>
    </form>

    <hr>

    <form name="password_form" class="form-horizontal">
        <fieldset disabled>
            <legend>Change password</legend>
            <div class="form-group">
                <label class="control-label col-sm-3" for="user_old_password">Old Password : </label>

                <div class="col-sm-9">
                    <input type="password" class="form-control" name="username" data-ng-model="user_config.old_password"
                           required
                           id="user_old_password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="user_new_password">New Password : </label>

                <div class="col-sm-9">
                    <input class="form-control" type="password" name="username" data-ng-model="user_config.password"
                           required id="user_new_password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="user_new_verify_password">New Password verify: </label>

                <div class="col-sm-9">
                    <input type="password" name="username" data-ng-model="user_config.verify_password"
                           id="user_new_verify_password" class="form-control"
                           required data-password-verify="user_config.password">
                </div>

            </div>
            <div class="form-group">
                <label for="save" class="control-label col-sm-3"></label>

                <div class="col-sm-9">
                    <input class="btn btn-success" type="button" name="save" value="Save"
                           data-ng-disabled="password_form.$invalid">
                    <input class="btn " type="reset" value="Reset">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-md-6">

    <form name="import_form" data-ng-submit="import()" enctype="multipart/form-data" >
        <fieldset>
            <legend>Import bookmarks</legend>
            <p>Import bookmarks from a html file</p>
            <label>Maximum html file size : {{Config.maxSizeUpload}} .</label>
            <input accept="text/html" 
                   required 
                   ng-model="importForm.files"
                   name="files"
                   mp-file
                   type="file" >
            <h6>&nbsp;</h6>
            <button class="btn btn-success"
                    type="submit"
                    data-ng-disabled="!import_form.$valid || importing == true">
                Import file
            </button>
            <input class="btn " type="reset" value="Reset">
        </fieldset>
    </form>
    <hr>

    <form data-ng-submit="export()">
        <fieldset>
            <legend>Export bookmarks</legend>
            <p>Save bookmarks as html file</p>
            <input type="submit" value="Export bookmarks" data-ng-disabled="Bookmark.exporting || importing == true"  class='btn btn-info'>

        </fieldset>
    </form>
</div>