<form name="bookmark_form" role='form'
      novalidate="novalidate" data-ng-controller="BookmarkFormCtrl">
    <h5 data-ng-show="Bookmark.current.id">Edit bookmark
        <small>{{Bookmarks.current.title}}</small>
    </h5>
    <h5 data-ng-show="!Bookmarks.current.id">Add bookmark</h5>
    <!-- TITLE -->
    <div class="form-group">
        <label for="bookmark_title">Title :</label>
        <input type="text" placeholder="title"
               name="bookmark_title"
               class="form-control"
               autocomplete="on"
               data-ng-model='Bookmarks.current.title'
               id="bookmark_title" required>
    </div>

    <!-- URL -->
    <div class="form-group">
        <label for="bookmark_url">Url :</label>
        <input type="url" placeholder="http://exemple.com" autocomplete="on"
               name="bookmark_url"
               data-valid-url
               class="form-control"
               data-ng-model="Bookmarks.current.url"
               id="bookmark_url" required>
    </div>
    <!-- DESCRIPTION -->
    <div class="form-group">
        <label for="bookmark_description">Description :</label>

        <input type="text" placeholder="description" autocomplete="on"
               name="bookmark_description"
               class="form-control"
               data-ng-model="Bookmarks.current.description"
               required>
    </div>
    <!-- TAGS -->
    <div class="form-group"  data-ng-if='Bookmarks.current.tags != null'>
        <label class='control-label' for="bookmark_tags">Tags :</label> 
        <div class="help-block">
            Press enter after each
            tag. Click on the text area to dismiss the dropdown list of suggestions.
        </div>

        <input placeholder='sport, music, software' 
               name="bookmark_tags"

               class="form-control" 
               data-auto-complete-url="/json/autocomplete"
               data-auto-complete-parse="Config.autoCompleteParse"
               data-width="auto"
               data-ng-model="Bookmarks.current.tags"
               data-tags-input="Bookmarks.current.tags"/>
    </div>
    <!-- ID -->
    <input type="hidden" data-ng-model="Bookmarks.current.id" name="bookmark_id">
    <!-- TIMESTAMP -->
    <input type="hidden" data-ng-model="Bookmarks.current.timestamp" name="bookmark_timestamp"/>
    <div class='form-group '>
        <!-- SUBMIT -->
        <input data-ng-click="save(Bookmarks.current)" 
               data-ng-disabled="bookmark_form.$invalid || bookmark_form.$pristine" 
               class="btn btn-success"
               type="submit" data-dismiss="modal">
        <input class="btn btn-default" type="reset" value="Reset">
        <input class='btn btn-default' type="button" value="Cancel" data-dismiss="modal">
        <button
            ng-disabled="Bookmarks.suggesting || !bookmark_form.bookmark_url.$valid"
            ng-click="suggest(Bookmarks.current.url)"
            class="btn btn-info" 
            >Suggest description from url</button>
    </div>
</form>
