{#
 MarkMe/Views/include/footer.twig
#}
<span>Copyright &copy; M.Paraiso {{ app.current_date|date('Y') }}. <a href="mailto:mparaiso@online.fr">mparaiso@online
        .fr</a>
    All rights
    reserved.</span>
<span>Screenshots <a href="http://www.robothumb.com">by Robothumb</a></span>
