{% extends 'layout.twig' %}
{% block content %}
 <h1 class="title">Hello {{name}} !</h1> 
 <img src="http://wimg.ca//image?url=http://stackoverflow.com/" title='sun' alt="sun" />
 <img src="http://wimg.ca//image?url=http://www.nbcnews.com/" title='sun' alt="sun" />
 <img src="http://wimg.ca//image?url=http://techcrunch.com/" title='sun' alt="sun" />
 <img src="http://wimg.ca/http://www.business2community.com/" title='sun' alt="sun" />
{% endblock %}