<!DOCTYPE HTML>
<html lang="en-US" >
    <head>
        <meta charset="UTF-8">
        <meta name="base_url" content="{{ app['request'].getBaseUrl() }}">
        <meta name="description" content="online bookmark manager">
        <meta name="keywords" content="html5,web application,webapp,bookmark,bookmarks,application,utility,organizer,manager">
        <meta name="author" content="M.Paraiso">
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
        <title>Markme : Organize your bookmarks online</title>
    {% block head_css %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
    </head>
    <body data-ng-app="Application">
        <noscript>
        <h1 class="alert-error" style="text-align: center;">
            For the best user experience , please enable Javascript
        </h1>
        </noscript>
    {% block content %}
    {% endblock %}
    {% block bottom_scripts %}
    {% endblock %}
    {% include 'common/ga.twig' %}
    </body>
</html>