<!DOCTYPE HTML>
<html lang="en-US" ng-app="Application">
    <head>
        <meta charset="UTF-8">
        <title>Markme : Organize your bookmarks online</title>
        {% block head_css %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block bottom_scripts %}
        {% endblock %}
    </body>
</html>