<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src='static/js/jquery.min.js'></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>